.List {
  margin: auto;
  max-width: 768px;
}

.Error {
  text-align: center;
  background-color: red;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.EmptyText {
  text-align: center;
}

.Actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ActionIcon {
  margin: 1.5rem 1rem;
  padding: 1rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 4px #aaa;
}

.Blue {
  background-color: blue;
}

.Green {
  background-color: green;
}